<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Purple Admin</title>
   
    

  

    <link rel="stylesheet" href="../../vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="../../vendors/css/vendor.bundle.base.css">

    <link rel="stylesheet" href="../../css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="../../images/favicon.png" />
  </head>
  <body>

    <div class="container-scroller">
      
    
      <%- include("../partials/_navbar") %>


        <div class="container-fluid page-body-wrapper">
       <div>        
            <%- include("../partials/_sidebar") %>

        <div class="main-panel">
          <div class="content-wrapper">
            <div class="page-header">
              
              <div class="col-lg-12 grid-margin stretch-card">
                <div class="card">
                  <div class="card-body">
                    <h4 class="card-title">Pending Orders</h4>
                   
                    <table class="table">
                        <thead>
                          <tr>
                            <th>User Name</th>
                            <th>Order ID</th>
                            <th>Time</th>
                            <th>Status</th>
                            <th>Order Details</th>
                          </tr>
                        </thead>
                        <tbody>
                          <tr>
                            <td>Jacob</td>
                            <td>53275531</td>
                            <td>12 May 2017</td>
                            <td><label class="badge badge-gradient-danger">Pending</label></td>
                            <td><a href="/pending" > Order Details </a></td>
                          </tr>
                          <tr>
                            <td>Messsy</td>
                            <td>53275532</td>
                            <td>15 May 2017</td>
                            <td><label class="badge badge-gradient-danger">Pending</label></td>
                            <td><a href="abc" > Order Details </a></td>
                          </tr>
                          <tr>
                            <td>John</td>
                            <td>53275533</td>
                            <td>14 May 2017</td>
                            <td><label class="badge badge-gradient-danger">Pending</label></td>
                            <td><a href="abc" > Order Details </a></td>
                          </tr>
                          <tr>
                            <td>Peter</td>
                            <td>53275534</td>
                            <td>16 May 2017</td>
                            <td><label class="badge badge-gradient-danger">Pending</label></td>
                            <td><a href="abc" > Order Details </a></td>
                          </tr>
                          <tr>
                            <td>Dave</td>
                            <td>53275535</td>
                            <td>20 May 2017</td>
                            <td><label class="badge badge-gradient-danger">Pending</label></td>
                            <td><a href="abc" > Order Details </a></td>
                          </tr>
                        </tbody>
                      </table>
                   

                  </div>
                </div>
              </div>
            </div>
          </div>              
        

          
      <div id="foot"></div>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
        </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
    <!-- plugins:js -->
    <script src="../../vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="../../js/off-canvas.js"></script>
    <script src="../../js/hoverable-collapse.js"></script>
    <script src="../../js/misc.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <!-- End custom js for this page -->
  </body>
</html>